<style>
    div.cas-plugin-config {
        margin-left: 12em;
    }

    h1.headline {
        margin-bottom: 1em;
    }

    div > label + input[type="checkbox"].theme-correction {
        margin: 0;
        height: 24px;
    }
</style>

<h1 class="headline"><%= l(:redmine_cas_settings_label).html_safe %></h1>
<div class="cas-plugin-config">
  <div <%= (ENV['AUTO_MANAGED'] == "true") ? "hidden" : "" %>>
    <div>
      <input type="hidden" name="settings[enabled]" value=0>
      <%= label_tag "settings[enabled]", l(:redmine_cas_settings_enabled_label) %>
      <%= check_box_tag "settings[enabled]", 1, @settings[:enabled].to_i > 0, :class => "theme-correction" %>
    </div>
    <div>
      <%= label_tag "settings[cas_fqdn]", l(:redmine_cas_settings_cas_fqdn_label) %>
      <%= text_field_tag "settings[cas_fqdn]", @settings[:cas_fqdn], :size => 50 %>
      <em class="info"><%= l(:redmine_cas_settings_cas_fqdn_helptext).html_safe %></em>
    </div>
    <div>
      <%= label_tag "settings[cas_relative_url]", l(:redmine_cas_settings_cas_relative_label) %>
      <%= text_field_tag "settings[cas_relative_url]", @settings[:cas_relative_url], :size => 50 %>
      <em class="info"><%= l(:redmine_cas_settings_cas_relative_helptext).html_safe %></em>
    </div>
    <div>
      <%= label_tag "settings[redmine_fqdn]", l(:redmine_cas_settings_redmine_fqdn_label) %>
      <%= text_field_tag "settings[redmine_fqdn]", @settings[:redmine_fqdn], :size => 50 %>
      <em class="info"><%= l(:redmine_cas_settings_redmine_fqdn_helptext).html_safe %></em>
    </div>
    <div>
      <%= label_tag "settings[admin_group]", l(:redmine_cas_settings_admin_group_label) %>
      <%= text_field_tag "settings[admin_group]", @settings[:admin_group], :size => 50 %>
      <em class="info"><%= l(:redmine_cas_settings_admin_group_helptext).html_safe %></em>
    </div>
    <div>
      <%= label_tag "settings[attributes_mapping]", l(:redmine_cas_settings_user_mapping_label) %>
      <%= text_field_tag "settings[attributes_mapping]", @settings[:attributes_mapping], :size => 50 %>
      <em class="info"><%= l(:redmine_cas_settings_user_mapping_helptext, :attribute_names => User.attribute_names.join(', ')).html_safe %></em>
    </div>
  </div>

  <div <%= (ENV['AUTO_MANAGED'] != "true") ? "hidden" : "" %>>
    <div>
      <label for="cas-url"><%= l(:redmine_cas_settings_cas_url_label).html_safe %></label>
      <input type="text" id="cas-fqdn" disabled placeholder="<%= RedmineCas.get_cas_url %>"/>
      <em class="info"><%= l(:redmine_cas_settings_cas_url_helptext).html_safe %></em>
    </div>
    <div>
      <label for="AdminGroup"><%= l(:redmine_cas_settings_admin_group_label).html_safe %></label>
      <input type="text" id="AdminGroup" disabled placeholder="<%= @settings[:admin_group] %>"/>
      <em class="info"><%= l(:redmine_cas_settings_admin_group_helptext).html_safe %></em>
    </div>
  </div>

  <div>
    <input type="hidden" name="settings[local_users_enabled]" value=0>
    <%= label_tag "settings[local_users_enabled]", l(:redmine_cas_settings_local_users_enabled_label) %>
    <%= check_box_tag "settings[local_users_enabled]", 1, @settings[:local_users_enabled].to_i > 0, class: "checkbox theme-correction"%>
    <em class="info"><%= l(:redmine_cas_settings_local_users_enabled_description).html_safe %></em>
  </div>


</div>
